* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* Свойства для сброса начальных стилей элементов */
}
html,
body {
  font-family: "Inter", sans-serif;
  color: #303030;
  background-color: #fafaff;
}

header {
  background-color: #2965f1;
  width: 1440px;
  height: 70px;
  /* Стили для хедера */
}

header span {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 24px 0;
  display: inline-block;
  /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
  width: 1440px;
  height: 100vh;
  padding: 60px 0px;
  /* Стили для первой секции */
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  /* Стили для заголовка в первой секции */
}

.main-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;

  /* Стили для текста в первой секции */
}

.main-image {
  max-width: 715px;
  display: block;
  /* Стили для изображения в первой секции */
}

.about-section {
  width: 1440px;
  height: 883px;
  background-color: #ffffff;
  padding: 100px 0;
  /* Стили для второй секции */
}

select {
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  padding-left: 12px;
  max-width: 150px;
  height: 36px;
  width: 100%;
  background: rgba(255, 255, 255, 0)
    url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.998 5.326L8.00001 10.198L3.00202 5.326C2.91272 5.23877 2.79284 5.18993 2.66801 5.18993C2.54319 5.18993 2.42331 5.23877 2.33402 5.326C2.29078 5.36836 2.25643 5.41893 2.23298 5.47474C2.20953 5.53054 2.19745 5.59047 2.19745 5.651C2.19745 5.71153 2.20953 5.77146 2.23298 5.82726C2.25643 5.88307 2.29078 5.93364 2.33402 5.976L7.65101 11.16C7.74439 11.251 7.86962 11.302 8.00001 11.302C8.13041 11.302 8.25564 11.251 8.34901 11.16L13.666 5.977C13.7096 5.9346 13.7442 5.88391 13.7678 5.82792C13.7914 5.77193 13.8036 5.71177 13.8036 5.651C13.8036 5.59023 13.7914 5.53007 13.7678 5.47408C13.7442 5.41809 13.7096 5.3674 13.666 5.325C13.5767 5.23777 13.4568 5.18893 13.332 5.18893C13.2072 5.18893 13.0873 5.23777 12.998 5.325V5.326Z' fill='%23303030' fill-opacity='0.8'/%3E%3C/svg%3E")
    no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  padding-right: 35px;
  appearance: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--font-family);
  /* Стили для выпадающего списка */
}

.section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;

  /* Стили для заголовков во второй секции */
}

.frameworks-list {
  margin-top: 26px;
  list-style-image: url(../assets/Vector.png); /* Картинка для маркера */
  padding: 0 20px;
  width: 80px;
  height: 57px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  margin-top: 26px;
  width: 670px;
  height: 57px;
  padding: 0 20px;

  /* Стили для нумерованного списка во второй секции */
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  padding-left: 6px;

  /* Стили для подписей чекбоксов */
}

.text-field {
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  width: 330px;
  height: 36px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  padding-left: 12px;
  font-size: 16px;
  /* Стили для односточного поля ввода текста */
}

.btn {
  /* 12. Стили для кнопки */
  border-radius: 5px;
  width: 126px;
  height: 36px;
  background: #2965f1;
  color: #ffffff;
  font-weight: 700;
  border: none;
  /* Стили для кнопки */
}

.line {
  border: 1px solid #30303017;
  width: 1440px;
  height: 0px;
  margin: 60px 0;
  /* 13. Разделительная линия */
}

input.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  accent-color: #2965f1;
  /* Стили для чекбоксов */
}
table {
  width: 100%;
  border-collapse: collapse;
  width: 360px;
  height: 196px;
  font-size: 14px;
  /* Стили для таблицы */
}

th,
td {
  border: 1px solid #95a1bb;
  padding: 12px 15px;
  text-align: left;
  width: 300px;
  height: 40px;
}

footer {
  background-color: #a3a7ff;
  padding: 26px 0;
  /* Стили для футера */
}

.footer-link {
  width: 1440px;
  height: 70px;
  background: rgba(163, 168, 255, 0.164);
  /* Стили для футера */
}
.footer-link:visited {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #2965f1;
}
